.profile_card {
    margin: 0 auto;
    padding: 0;
    position: relative;
    width: 150px;
    height: 150px;
}


.profile_image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.profile_name {
    font-size: 1.3rem;
    font-weight: bold;
}

.profile_status {
    display: block;
    background-color: rgb(180, 180, 180);
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 3px solid white;
    position: absolute;
    bottom: 3px;
    right: 10px;
}

.profile_status--online {
    background-color: rgb(65, 180, 65);
   }

